#node-border
  #node{:class => node.error? ? "error" : "on", :title => node.error}  
    %ul
      %li
        %h3=link_to node.name, node_path(node.name)    
      %li= node.hostname 
      %li= node.ip  