= form_for @node, :url => node_path(@node.name), :method => :put, :html => {:id => "edit_node"} do |f| 
  #runlistform 
    #runlistcontainer
      .small_box
        Recipes
      #recipes.box_info.sortable
        %ul
          - @recipes.each do |recipe|
            %li.recipe{:id => recipe}
              %span= normalize_item(recipe) 
  
  
    .float_right
      #runlistcontainer
        .small_box
          Run List
        #run-list.box_info.sortable
          %ul
            -@node.extended_run_list.each do |run_list_item|
              %li.item{:class => run_list_item.type, :id => run_list_item.to_s}
                %span= run_list_item.name        


    / #runlistcontainer
    /   .small_box
    /     Roles
    /   #roles.box_info.sortable
    /     %ul
    /       - @roles.each do |role|
    /         %li.role{:id => role}
    /           %span= normalize_item(role)      
          
  .clear
  = f.submit "Guardar"       



  / #runlistform
  /   #runlistcontainer
  /     .list-header
  /       Run List
  /     #run-list.sortable
  /       %ul
  /         -@node.extended_run_list.each do |run_list_item|
  /           %li.item{:class => run_list_item.type, :id => run_list_item.to_s}
  /             = run_list_item.name        
  /           = run_list_item.version     
  / 
  /   #itemscontainer
  /     .list-header
  /       Roles
  /     #roles.sortable
  /       %ul
  /         - @roles.each do |role|
  /           %li.role{:id => role}= normalize_item(role)   
  / 
  /     .list-header
  /       Recipes
  /     #recipes.sortable
  /       %ul
  /         - @recipes.each do |recipe|
  /           %li.recipe{:id => recipe}= normalize_item(recipe)
  /     = f.submit "Guardar"   