= javascript_include_tag :users
= form_tag node_path(@node.name), :method => :put, :id => "edit_node_attributes", :remote => true do
  - @skel.each do |attribute|
    = raw render_fieldset(attribute, @data[attribute[0]], "[node][normal]")

  = submit_tag