%h1 Printers

#printers
  .float_left
    = link_to "New printer", new_admin_printer_path
  %table.full.tablesorter
    %thead
      %th Name
    %body
      - @printers.keys.each do |printer_name|
        %tr{:class => cycle("odd", "even")}
          %td= link_to printer_name, edit_admin_printer_path(printer_name)
