// Place all the styles related to the admin/groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
                                                                   

#group {
background: url("../group.png") no-repeat scroll left center #60abf8 !important;    
}      

#new_group table {
margin-top: 20px;
}
