#errors {
  color:white;
  max-width: 100%;

  padding:10px;
  box-shadow:3px 3px 7px #0f0f0f;
  background: #7abcff;
  -moz-border-radius: 10px;
  border-radius: 10px;

  padding-left:100px;

  background: #ff3019; /* Old browsers */
  background: -moz-linear-gradient(top,  #ff3019 0%, #cf0404 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* IE10+ */
  background: linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */

  margin-bottom:20px;
}

#error_details {
  clear:both;
  width:500px;
  background:#7abcff;
  margin-left:10px;
  box-shadow:1px 1px 3px #0f0f0f;
  padding-top:12px;
  padding-bottom:5px;
}

div.field_with_errors {
  display: inline-block;
}

#new_printer small {
  display: block;
}
