%h1 Groups

/ #groups
/   = render @roles

#groups
  .float_left
    = link_to "New group", new_admin_role_path()
  %table.full.tablesorter
    %thead
      %th Name
      %th Members
    %body
      - @roles.each do |role|
        %tr{:class => cycle("odd", "even")}
          %td= link_to role.name, edit_admin_role_path(role.name)
          %td= role.nodes.size