= javascript_include_tag :users
= form_tag role_path(@role.name), :method => :put, :id => "edit_role_attributes", :remote => true do
  - @skel.each do |attribute|
    = raw render_fieldset(attribute, @data[attribute[0]], "[role][default_attributes]", @defaults)

  = submit_tag