/**
 * "Yet Another Multicolumn Layout" - (X)HTML/CSS framework
 * (en) stylesheet for screen layout
 * (de) Stylesheet für das Bildschirm-Layout
 *
 * @creator       YAML Builder V1.2.1 (http://builder.yaml.de)
 * @file          basemod.css
 * @-yaml-minver  3.3
 */

@media screen, projection
{
  /** 
   * (en) Forcing vertical scrollbars in IE8, Firefox, Webkit & Opera 
   * (de) Erzwingen vertikaler Scrollbalken in IE8, Firefox, Webkit & Opera 
   *
   * @workaround
   * @affected IE8, FF, Webkit, Opera
   * @css-for all
   * @valid CSS3
   */

  body { overflow-y: scroll; }

  /*-------------------------------------------------------------------------*/

  /* (en) Marginal areas & page background */
  /* (de) Randbereiche & Seitenhintergrund */
  body { 
	background-color:#fafafa;
	margin:0px;
	}

  /* Layout Alignment | Layout-Ausrichtung */
  .page_margins { margin: 0 auto; }

  /* Layout Properties | Layout-Eigenschaften */
  .page_margins { width: auto;}
  .page { }
  #header { 
//	margin-top:65px;

	}  
	
  #topnav { position:absolute; top:10px; text-align:left; color: #aaa; background: transparent; } 
  #topnav h1 {margin:0 auto;}
  #nav { overflow:hidden; 
	background: #7abcff; /* Old browsers */
	background: -moz-linear-gradient(top,  #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
	background: linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */



	}
  
  #main { margin: 10px auto; width:960px; display:block;}
  #footer { padding: 10px 20px; color:#666; background: #f9f9f9; border-top: 5px #efefef solid; }

  
  

  /*-------------------------------------------------------------------------*/

  /**
   * (en) Formatting content container
   * (de) Formatierung der Inhalts-Container
   *
   */

  #col1 { float: left; width: 10%;  margin:0 }
  #col2 { float: right; width: 10%;  margin:0 }
  #col3 { width: auto; margin: 0 10% 0 10%}
  #col1_content { padding: 0 10px 0 20px }
  #col2_content { padding: 0 20px 0 10px }
  #col3_content { padding: 0 10px }
	
  /*-------------------------------------------------------------------------*/
}

/**
* Design of Additional Layout Elements | Gestaltung weiterer Layoutelemente
*
* @section layout-misc
*/



/**
* ------------------------------------------------------------------------------------------------- #
*
* Skiplinks 
*
* (en) Visual styling for skiplink navigation
* (de) Visuelle Gestaltung der Skiplink-Navigation
*
* @section content-skiplinks
*/

#skiplinks a.skip:focus,
#skiplinks a.skip:active { 
  color:#fff; 
  background:#333; 
  border-bottom:1px #000 solid;
  padding:10px 0;
  text-decoration:none;
}     

/**
* Fonts
*
* (en) global settings of font-families and font-sizes
* (de) Globale Einstellungen für Zeichensatz und Schriftgrößen
*
* @section content-global-settings
*/

/* (en) reset font size for all elements to standard (16 Pixel) */
/* (de) Alle Schriftgrößen auf Standardgröße (16 Pixel) zurücksetzen */
html * { font-size:100.01%; }

/**
* (en) reset monospaced elements to font size 16px in all browsers
* (de) Schriftgröße von monospaced Elemente in allen Browsern auf 16 Pixel setzen
*
* @see: http://webkit.org/blog/67/strange-medium/
*/

textarea, pre, code, kbd, samp, var, tt {
  font-family:Consolas, "Lucida Console", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier;
}

/* (en) base layout gets standard font size 12px */
/* (de) Basis-Layout erhält Standardschriftgröße von 12 Pixeln */
body {
  font-family:Arial, Helvetica, sans-serif;
  font-size:75.00%;
  color:#444;
}

/*--- Headings | Überschriften ------------------------------------------------------------------------*/

h1,h2,h3,h4,h5,h6 {
  font-family:"Times New Roman", Times, serif;
  font-weight:normal;
  color:#222;
  margin:0 0 0.25em 0;
}

h1 { font-size:250%; }                       /* 30px */
h2 { font-size:200%; }                       /* 24px */
h3 { font-size:150%; }                       /* 18px */
h4 { font-size:133.33%; }                    /* 16px */
h5 { font-size:116.67%; }                    /* 14px */
h6 { font-size:116.67%; }                    /* 14px */

/* --- Lists | Listen  -------------------------------------------------------------------------------- */

ul, ol, dl { line-height:1.5em; margin:0 0 1em 0; }
ul { list-style-type:disc; margin:0; padding:0;}
ul ul { list-style-type:circle; margin-bottom:0; }

ol { list-style-type:decimal; }
ol ol { list-style-type:lower-latin; margin-bottom:0; }

li { margin:0; padding:0; line-height:1.5em; list-style:none;}

dt { font-weight:bold; }
dd { margin:0 0 1em 0.8em; }   

/* --- general text formatting | Allgemeine Textauszeichnung ------------------------------------------ */

p { line-height:1.5em; margin:0 0 1em 0; }

blockquote, cite, q {
  font-family:Georgia, "Times New Roman", Times, serif;
  font-style:italic;
}
blockquote { margin:0 0 1em 1.6em; color:#666; }

strong,b { font-weight:bold; }
em,i { font-style:italic; }

big { font-size:116.667%; }
small { font-size:91.667%; }

pre { line-height:1.5em; margin:0 0 1em 0; }
pre, code, kbd, tt, samp, var { font-size:100%; }
pre, code { color:#800; }
kbd, samp, var, tt { color:#666; font-weight:bold; }
var, dfn { font-style:italic; }

acronym, abbr {
  border-bottom:1px #aaa dotted;
  font-variant:small-caps;
  letter-spacing:.07em;
  cursor:help;
}

sub, sup { font-size:91.6667%; line-height:0; }

hr {
  color:#fff;
  background:transparent;
  margin:0 0 0.5em 0;
  padding:0 0 0.5em 0;
  border:0;
  border-bottom:1px #eee solid;
}     

/*--- Links ----------------------------------------------------------------------------------------- */

a { color:#4D87C7; background:transparent; text-decoration:none; }
a:visited  { color:#036; }

/* (en) maximum constrast for tab focus - change with great care */
/* (en) Maximaler Kontrast für Tab Focus - Ändern Sie diese Regel mit Bedacht */
a:focus { text-decoration:underline; color:#000; background: #fff; outline: 3px #f93 solid; }
a:hover,
a:active { color:#182E7A; text-decoration:none; outline: 0 none; }

/* --- images (with optional captions) | Bilder (mit optionaler Bildunterschrift) ------------------ */

p.icaption_left { float:left; display:inline; margin:0 1em 0.15em 0; }
p.icaption_right { float:right; display:inline; margin:0 0 0.15em 1em; }

p.icaption_left img,
p.icaption_right img { padding:0; border:1px #888 solid; }

p.icaption_left strong,
p.icaption_right strong { display:block; overflow:hidden; margin-top:2px; padding:0.3em 0.5em; background:#eee; font-weight:normal; font-size:91.667%; } 

/**
* ------------------------------------------------------------------------------------------------- #
*
* Generic Content Classes
*
* (en) standard classes for positioning and highlighting
* (de) Standardklassen zur Positionierung und Hervorhebung
*
* @section content-generic-classes
*/

.highlight { color:#c30; }
.dimmed { color:#888; }

.info { background:#f8f8f8; color:#666; padding:10px; margin-bottom:0.5em; font-size:91.7%; }

.note { background:#efe; color:#040; border:2px #484 solid; padding:10px; margin-bottom:1em; }
.important { background:#ffe; color:#440; border:2px #884 solid; padding:10px; margin-bottom:1em; }
.warning { background:#fee; color:#400; border:2px #844 solid; padding:10px; margin-bottom:1em; }

.float_left { float:left; display:inline; margin-right:1em; margin-bottom:0.15em; }
.float_right { float:right; display:inline; margin-left:1em; margin-bottom:0.15em; }
.center { display:block; text-align:center; margin:0.5em auto; }    
.clear {clear:both;}
                           
/**
* ------------------------------------------------------------------------------------------------- #
*
* Tables | Tabellen
*
* (en) Generic classes for table-width and design definition
* (de) Generische Klassen für die Tabellenbreite und Gestaltungsvorschriften für Tabellen
*
* @section content-tables
*/

table { width:auto; border-collapse:separate; margin-bottom:0.5em; border:1px #60ABF8 solid }
table caption { font-variant:small-caps; }
table.full { width:100%; }
table.fixed { table-layout:fixed; }

th,td { padding:0.5em; }
thead th { color:#000; border-bottom:1px #60ABF8 solid; background-color:#60ABF8; }
tbody th { background:#e0e0e0; color:#333; }
tbody th[scope="row"], tbody th.sub { background:#f0f0f0; }

tbody th { text-align:center; }

tbody tr.odd { } 
tbody tr.even { background-color:#e6e6e6; }

tbody tr:hover th[scope="row"],
tbody tr:hover tbody th.sub { background:#f0e8e8; }
tbody tr:hover td { background-color:#7ABCFF; }

